* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

#container {
    width: 1140px;
    margin: 20px auto;
}

#blog-post-container {
    width: 75%;
    float: left;
}

#other-posts {
    width: 25%;
    float: left;
    padding-left: 10px;
}

#inner-other-post {
    position: fixed;
    top: 20px;
}

#author-box {
    border-top: 1px solid rgb(0, 0, 0, .125);
    padding-top: 10px;
}

#author-box img {
    border-radius: 50%;
    float: left;
}

#author-text {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

.box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.blog-post {
    position: relative;
}

.date {
    position: absolute;
    right: 50px;
    top: 10px;
}

.blog-text {
    margin-top: 10px;
}

.tags {
    margin: 0;
    padding: 0;
}

.tags li {
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.tags li a {
    text-decoration: none;
}

.blog-post img {
    width: 100%;
}

h2 {
    margin-bottom: 15px;
}