* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-size: 14px;
    color: #333;
    line-height: 135%;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: gray;
    font-size: 27px;
    font-weight: 500px;
}

#container {
    width: 1140px;
    margin: 20px auto;
}

#blog-post-container {
    width: 75%;
    float: left;
}

#other-posts {
    width: 25%;
    float: left;
    padding-left: 10px;
}

#author-box {}

.box {
    background: white;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06)
}

.blog-post {
    position: relative;
}

.blog-post img {
    width: 100%;
}

.date {
    position: absolute;
    right: 50px;
    top: 15px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 12px;
    margin-top: 5px;
    color: lightslategrey;
}

.blog-text {
    margin-top: 15px;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 10px;
    color: lightgray;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.tags li {
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.tags li a {
    text-decoration: none;
}

#author-box {
    border-top: 1px solid RGB(0, 0, 0, .125);
    padding-top: 10px;
}

#author-box img {
    border-radius: 50%;
    float: left;
}

.author-text {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

#icons {
    /*  width: 25%;
    float: left;
    margin-top: 35px;*/
}

#icons a {
    color: gray;
    text-decoration: none;
    margin-right: 12px;
    opacity: 0.9;
}

#icons a:hover {
    opacity: 0.6;
}