#container {
    width: 800px;
    background-color: brown;
}

#other-posts {
    width: 75%;
    background-color: cadetblue;
}

#author-box {
    width: 25%;
    background-color: coral;
    border: 1px solid red;
}